services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: orgst
      POSTGRES_USER: orgst
      POSTGRES_PASSWORD: orgst
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data/

volumes:
  pgdata:
  node_modules:
